In [1]:
import pandas as pd
import numpy as np

names=['Datum(UTC)','Nicht Erneuerbar (MW)', 'Erneuerbar (MW)', 'DE-LU Day Ahead EUR/MWh']
DayAheadPrices=pd.read_csv("Daten entsoe/energy-charts_Stromproduktion_und_Börsenstrompreise_in_Deutschland_2024.csv",skiprows=2,names=names)

In [2]:
DayAheadPrices

,Datum(UTC),Nicht Erneuerbar (MW),Erneuerbar (MW),DE-LU Day Ahead EUR/MWh
0,2023-12-31T23:00+00:00,8378.54,41780.27,0.10
1,2024-01-01T00:00+00:00,8284.44,41524.81,0.01
2,2024-01-01T01:00+00:00,8282.03,41348.67,0.00
3,2024-01-01T02:00+00:00,8318.30,40365.41,-0.01
4,2024-01-01T03:00+00:00,8309.99,40235.53,-0.03
...,...,...,...,...
8779,2024-12-31T18:00+00:00,21383.15,38916.54,67.77
8780,2024-12-31T19:00+00:00,18557.03,40027.98,35.56
8781,2024-12-31T20:00+00:00,15779.81,40653.81,15.70
8782,2024-12-31T21:00+00:00,14930.28,40116.74,9.06
8783,2024-12-31T22:00+00:00,13087.59,42309.76,0.52

In [3]:
CrossBorder=pd.read_csv("Daten entsoe/Cross-border Physical Flows_202312312300-202412312300.csv")

In [25]:
#CrossBorder

#pd.to_datetime('{} {:02d}'.format(gd_index,miss_PV_index),format='%Y-%m-%d %H',utc=True)

#IKStrom['last_changed dt']=pd.to_datetime(IKStrom['last_changed']).dt.floor('h')

CrossBorder['Date']=pd.to_datetime(CrossBorder['MTU (CET/CEST)'].str[:16],format='%d/%m/%Y %H:%S').dt.tz_localize('Europe/Brussels',ambiguous='infer')
#CrossBorder['Datum']=CrossBorder['Date'].dt.tz_localize('Europe/Brussels',ambiguous='infer')
#CrossBorder['MTU (CET/CEST)'].to_datetime('{}'.format(),format='%d/%m/%Y %H:%S')

#.dt.tz_localize('Europe/Brussels').dt.tz.convert('UTC')

In [29]:
CrossBorder[CrossBorder['Out Area']=='Germany (DE)']

,MTU (CET/CEST),Out Area,In Area,Physical Flow (MW),Date,Datum
96624,01/01/2024 00:00 - 01/01/2024 01:00,Germany (DE),Poland (PL),1720.86,2024-01-01 00:00:00+01:00,2024-01-01 00:00:00+01:00
96625,01/01/2024 01:00 - 01/01/2024 02:00,Germany (DE),Poland (PL),1727.87,2024-01-01 01:00:00+01:00,2024-01-01 01:00:00+01:00
96626,01/01/2024 02:00 - 01/01/2024 03:00,Germany (DE),Poland (PL),1607.81,2024-01-01 02:00:00+01:00,2024-01-01 02:00:00+01:00
96627,01/01/2024 03:00 - 01/01/2024 04:00,Germany (DE),Poland (PL),1469.14,2024-01-01 03:00:00+01:00,2024-01-01 03:00:00+01:00
96628,01/01/2024 04:00 - 01/01/2024 05:00,Germany (DE),Poland (PL),1458.66,2024-01-01 04:00:00+01:00,2024-01-01 04:00:00+01:00
...,...,...,...,...,...,...
193243,31/12/2024 19:00 - 31/12/2024 20:00,Germany (DE),Luxembourg (LU),NaN,2024-12-31 19:00:00+01:00,2024-12-31 19:00:00+01:00
193244,31/12/2024 20:00 - 31/12/2024 21:00,Germany (DE),Luxembourg (LU),NaN,2024-12-31 20:00:00+01:00,2024-12-31 20:00:00+01:00
193245,31/12/2024 21:00 - 31/12/2024 22:00,Germany (DE),Luxembourg (LU),NaN,2024-12-31 21:00:00+01:00,2024-12-31 21:00:00+01:00
193246,31/12/2024 22:00 - 31/12/2024 23:00,Germany (DE),Luxembourg (LU),NaN,2024-12-31 22:00:00+01:00,2024-12-31 22:00:00+01:00
193247,31/12/2024 23:00 - 01/01/2025 00:00,Germany (DE),Luxembourg (LU),NaN,2024-12-31 23:00:00+01:00,2024-12-31 23:00:00+01:00

In [28]:
DayAheadPrices

,Datum(UTC),Nicht Erneuerbar (MW),Erneuerbar (MW),DE-LU Day Ahead EUR/MWh
0,2023-12-31T23:00+00:00,8378.54,41780.27,0.10
1,2024-01-01T00:00+00:00,8284.44,41524.81,0.01
2,2024-01-01T01:00+00:00,8282.03,41348.67,0.00
3,2024-01-01T02:00+00:00,8318.30,40365.41,-0.01
4,2024-01-01T03:00+00:00,8309.99,40235.53,-0.03
...,...,...,...,...
8779,2024-12-31T18:00+00:00,21383.15,38916.54,67.77
8780,2024-12-31T19:00+00:00,18557.03,40027.98,35.56
8781,2024-12-31T20:00+00:00,15779.81,40653.81,15.70
8782,2024-12-31T21:00+00:00,14930.28,40116.74,9.06
8783,2024-12-31T22:00+00:00,13087.59,42309.76,0.52